.store-banner-store-banner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.store-banner-link {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: var(--dl-color-purple-1000);
}
.store-banner-link1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-orange-default);
}

@media(max-width: 991px) {
  .store-banner-root-class-name {
    margin-top: var(--dl-space-space-tripleunit);
    margin-left: var(--dl-space-space-tripleunit);
  }
}
